.mainContainerMenClothes {
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
  height: 100vh;
  width: 100vw;
}
.menClothesItem {
  border: 1px solid black;
  margin: 20px;
  height: 500px;
  width: 500px;
  background-color: rgb(200, 215, 179);
}

.menClothesItemID {
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 3px;
  height: 20px;
  width: 500px;
}
.menClothesItemTitle {
  margin: 1 px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;

  background-color: rgb(200, 215, 179);
  justify-content: center;
  display: flex;
  align-items: center;
  height: 120px;
  width: 500px;
}
.menClothesItemImg {
  height: 200px;
  width: 200px;
}
.footerContainerMenClothes {
  width: 100%;
  height: 150px;
  margin: 60px;
}
